
<form action="">
  <div class="form-field">
    <label for="cars">Category:</label>
    <select name="cars" id="cars">
      <option>Select a category</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </div>

  <div class="form-field">
    <label for="cars">Difficulty:</label>
    <select name="cars" id="cars">
      <option >Select difficulty</option>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </div>
  <button class="generic-btn">Create</button>
</form>


