/* You can add global styles to this file, and also import other style files */
//DARK-MODE
:root {
  --main-color: rgb(72, 81, 254);
  --dark-bg-deepest: #1f242d;
  --dark-bg-intermediate: #474d59;
  --dark-bg-shallowest: #323946;
  --dark-text-color: white;


  --generic-border-radius: .25rem;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.generic-btn {
  padding: .5rem 1rem;
  border-radius: var(--generic-border-radius);
  background-color: var(--main-color);
  border:none;
  color:white;
  font-weight: bold;
}